p{
    text-align: center;
    color:red;
}
.historyForm{
    display:flex;
    justify-content: center;
    margin:3px;
}
.cards-layout{
    display:flex;
    flex-wrap: wrap;
   justify-content:space-around;
   margin:10PX;
   box-shadow: 5px 10px #888888;
} 