<app-nav-u></app-nav-u>
<h3 class="historyForm">
    <form >
      <div class="container1">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmailID"
          placeholder="Please Enter email ID"
          name="bookingEmail"
          [(ngModel)]="bookingEmail"
          #email="ngModel"
          required
        />
        <div *ngIf="email.invalid && (email.dirty ||email.touched)"
        class="alert">
      <div class="errorInvalid" *ngIf="email.errors?.['required']">
        Email is required.
      </div></div>
        <div class="container1"><button type="button" class="btn btn-primary" (click)="historyByEmail(bookingEmail)">
          Submit
      </button></div>  
      </div>
    </form>
  </h3>

  <!-- [(ngModel)]="bookingEmail" -->

  <div class="cards-layout" >
    <div class="card mb-3 w-45" *ngFor="let booking of book">
      <img class="card-img-top" *ngIf="booking.ticketStatus=='Cancelled'" src="https://image.shutterstock.com/image-vector/cancelled-stamp-square-grunge-sign-260nw-1726532743.jpg" alt="BookingHistory">
      <img class="card-img-top" *ngIf="booking.ticketStatus=='Booked'" src="https://media.istockphoto.com/vectors/fully-booked-sticker-fully-booked-square-isolated-sign-fully-booked-vector-id1252369113?k=20&m=1252369113&s=170667a&w=0&h=NMjKngxN3qCsCxVvqx4lZYjz16H2uEROKCCdT4y_jj4=" alt="BookingHistory">
      <div class="card-body" >
        <h5 class="card-title"><b>PNR:-</b>{{ booking.bookingPNR }}</h5>
        <h5 class="card-title"><b>PassengerName:-</b> {{ booking.bookingPassengerName}}</h5>
        <h5 class="card-title"><b>Mobile No.:- </b>{{ booking.mobile }} </h5>
        <h5 class="card-title"><b>Airline:- </b>{{ booking.airline }} <b>Flight Code:- </b>{{ booking.airlineCode }}</h5>
        <h5 class="card-title"><b>Source:-</b>{{ booking.source }} <b>Destination-</b> {{ booking.destination }}</h5>
        <!-- <h5 class="card-title">Destination: {{ booking.destination }}</h5> -->
        <h5 class="card-title"><b>Date Of Journey:-</b> {{ booking.dateOfJourney }} <b>Date Of Booking:-</b>{{ booking.bookingDate }}</h5>
        <!-- <h5 class="card-title">Date Of Booking: {{ booking.bookingDate }}</h5> -->
        <h5 class="card-title"><b>Email ID:-</b>{{ booking.emailID }} <b>Ticket Status:-</b> {{ booking.ticketStatus }}</h5>
        <!-- <h5 class="card-title">Ticket Status: {{ booking.ticketStatus }}</h5> -->
        <button type="submit" class="CancelB"class="btn btn-danger" *ngIf="booking.ticketStatus=='Booked'"  (click)="cancelBooking(booking.bookingPNR)" >Cancel Ticket</button>
      </div>
    </div>
    </div>
  <!-- <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          (click)="cancelBooking(booking.bookingPNR)"
          <th scope="col">PNR</th>
          <th scope="col">PassengerName</th>
          <th scope="col">Mobile</th>
          <th scope="col">Source</th>
          <th scope="col">Destination</th>
          <th scope="col">Airline</th>
          <th scope="col">Date Of Journey</th>
          <th scope="col">Date Of Booking</th>
          <th scope="col">Email ID</th>
          <th scope="col">Ticket Status</th>
        </tr>
      </thead>

        <tbody *ngFor="let booking of book">
        <tr>
          <td>{{ booking.bookingPNR }}</td>
          <td>{{ booking.bookingPassengerName }}</td>
          <td>{{ booking.mobile }}</td>
          <td>{{ booking.source }}</td>
          <td>{{ booking.destination }}</td>
          <td>{{ booking.airline }}</td>
          <td>{{ booking.dateOfJourney }}</td>
          <td>{{ booking.bookingDate }}</td>
          <td>{{ booking.emailID }}</td>
          <td>{{ booking.ticketStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
