<ul id="navAdm" class="nav">
  <li class="nav-item">
   <a  class="nav-link disabled" id="item"><app-profile></app-profile> to Flight Booking!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/dashboardAdmin">Admin Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/searchAdmin">Search Flight</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addFlight">Add Airline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/allBooking">All Booking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/logout">Logout</a>
    </li>
  </ul>

