#navAdm{
    font-size: large;
    font-weight: bold;
    background-color: rgba(117, 190, 218, 0.6); 
    text-transform: uppercase;
    opacity:1 ;
    width: 100%;
}
a{
    color:indianred;
}
a:hover{
    background-color:lightgreen;
            opacity: 0.8;
  }

  nav a:visited, a:link {
    color: #ca7d8e;
  }
  nav a.active {
    color: #039be5;
  }