<p>update-airline works!</p>

  <form #updateAForm="ngForm" (ngSubmit)="updateAirline(updateAForm)">
      <div class="form-group">
        <label for="exampleInputAirline">Update Airline Status</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputAirline"
          placeholder="Please Enter Airline Name."
          name="airlineName"
          [(ngModel)]="airlineName"
        />
      </div>

      <!-- airlineName?:string;
        category?:string;
        ticketPrice?:string;
        status?:string;
        delete?:boolean; -->
        <form class="airlineForm">
      <div class="form-group">
        <label for="exampleInputAirline">Airline Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputairlineName"
          placeholder="Please Enter Airline Name."
          name="airlineName"
          [(ngModel)]="airline.airlineName"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputAirlinecategory">Category</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputAirlinecategory"
          placeholder="Please Enter Airline Name."
          name="category"
          [(ngModel)]="airline.category"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputAirlineticketPrice">Update Ticket Price</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputAirlineticketPrice"
          placeholder="Please Enter Ticket Updated Price."
          name="ticketPrice"
          [(ngModel)]="airline.ticketPrice"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputAirlinestatus">Update Airline Status</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputAirlinestatus"
          placeholder="Please Enter Airline Status."
          name="status"
          [(ngModel)]="airline.status"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputAirlinedelete">Update Delete Status</label>
        <input
          type="boolean"
          class="form-control"
          id="exampleInputAirlinedelete"
          placeholder="Please Enter Airline Delete Status ."
          name="delete"
          [(ngModel)]="airline.delete"
        />
      </div>


      <div>
        <br />
        <button type="submit" class="btn btn-primary" >
          Update
        </button>
      </div>
    </form>
  
  <!-- <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">PNR</th>
          <th scope="col">PassengerName</th>
          <th scope="col">Mobile</th>
          <th scope="col">Source</th>
          <th scope="col">Destination</th>
          <th scope="col">Airline</th>
          <th scope="col">Date Of Journey</th>
          <th scope="col">Date Of Booking</th>
          <th scope="col">Email ID</th>
          <th scope="col">Ticket Status</th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <td>{{ book.bookingPNR }}</td>
          <td>{{ book.bookingPassengerName }}</td>
          <td>{{ book.mobile }}</td>
          <td>{{ book.source }}</td>
          <td>{{ book.destination }}</td>
          <td>{{ book.airline }}</td>
          <td>{{ book.dateOfJourney }}</td>
          <td>{{ book.bookingDate }}</td>
          <td>{{ book.emailID }}</td>
          <td>{{ book.ticketStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
