p{text-align: center;
    color:brown;
    text-transform: uppercase;
}
#btn-register{
    align-items: center;
    margin-left: 300px;
}
.registerForm{
    display:flex;
    justify-content: center;
}