p{text-align: center;
    color:brown;
    text-transform: uppercase;
}

.registerForm{
    min-width: 400px;
    margin-left: 30%;
    position: absolute;
    border-radius: 4px ;
    box-shadow: 10px 10px 5px grey;
    display:inline-flexbox;  
}
.button1{
    display: flex;
    justify-content: space-around;
  }