.panel{
    display:block;
    background-color: cornsilk;
    align-items: center;
    margin-left: 500px;
    justify-content: space-around;
   max-width: 500px;
   margin-top: 50px;
}
.title{
    color:black;
}