<app-admin-nav></app-admin-nav>
<div>
    <mat-expansion-panel class="panel" class="disable_ripple">
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                Add Flight Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
            <mat-label class="title">Flight name</mat-label>
            <input matInput [(ngModel)]="flightObj.airlineName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label class="title">Category</mat-label>
            <input matInput [(ngModel)]="flightObj.category">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label class="title">Ticket Price</mat-label>
            <input matInput [(ngModel)]="flightObj.ticketPrice">
        </mat-form-field>
        
        <button (click)="addFlight()">Add</button>
    </mat-expansion-panel>
</div>

<!-- public int AirlineId { get; set; }
        public string AirlineName { get; set; }
        public string Category { get; set; }
        public double TicketPrice { get; set; }
        public string Status { get; set; }
        public bool Delete { get; set; }
        #endregion -->

