.panel{
    display:flex;
    justify-content: center;
}
.title{
    color:black;
}
.disable_ripple{
  background-color:darkseagreen;
  }
  p{
    text-align: center;
    color:red;
}
.cards-layout{
    display:flex;
    flex-wrap: wrap;
   justify-content:space-around;
} 

/* .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  } */
  button:hover{
    color: blue;
  }
  .card-img-top {
    width: 100%;
    height: 3vw;
    object-fit: cover;
}