<!-- <app-admin-nav></app-admin-nav>
<app-profile></app-profile> -->
<p>{{customExMessage}}</p>
<div class="panel">
    <mat-expansion-panel  class="disable_ripple">
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                Add Flight Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
            <mat-label class="title">Flight Name</mat-label>
            <input matInput [(ngModel)]="flightObj.airlineName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label class="title">Category</mat-label>
            <input matInput [(ngModel)]="flightObj.category">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label class="title">Source</mat-label>
            <input matInput [(ngModel)]="flightObj.source">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label class="title">Destination</mat-label>
            <input matInput [(ngModel)]="flightObj.destination">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label class="title">Ticket Price</mat-label>
            <input matInput [(ngModel)]="flightObj.ticketPrice">
        </mat-form-field>
        <br>
        <button mat-raised-button color="warn" (click)="addFlight()">Add Flight</button>
    </mat-expansion-panel>
</div>
<br>
<!-- <app-display-flights-a></app-display-flights-a> -->
<!-- public int AirlineId { get; set; }
        public string AirlineName { get; set; }
        public string Category { get; set; }
        public double TicketPrice { get; set; }
        public string Status { get; set; }
        public bool Delete { get; set; }
        #endregion -->
    <div class="cards-layout">
            <div class="card mb-3" style="width:15rem;"  *ngFor="let flight of flights">
             <img class="card-img-top" src="https://s.hdnux.com/photos/01/10/15/65/18931014/5/rawImage.jpg" alt="FlightBooking"> 
              <div class="card-body">
                <h5 class="card-title"><b>Airline Name:-</b>{{flight.airlineName}}</h5>
                <h5 class="card-title"><b>Airline Code:-</b>{{flight.airlineCode}}</h5>
                <h5 class="card-title"><b>Source:-</b>{{flight.source}}</h5>
                <h5 class="card-title"><b>Destination:-</b>{{flight.destination}}</h5>
                <h5 class="card-title"><b>Category:-</b>{{flight.category}}</h5>
                <h5 class="card-title"><b>Price:-</b>{{flight.ticketPrice}}</h5>
                <h5 class="card-title"><b>Status:-</b>{{flight.status}}</h5>
              </div>
            </div>
            </div>