<!-- <div class="ManageBookUser">
    <h1><button (click)="detailsByPNR()">Check PNR</button></h1>
    <h1><button (click)="detailsByEmail()">Booking History</button></h1>
    <h1><button (click)="cancelByPNR()">Cancel Ticket</button></h1>
    <a routerLink="/logout">Logout</a>
</div> -->
<!-- <app-nav-u></app-nav-u>
<app-profile></app-profile>
<app-display-flight></app-display-flight> -->

<div class="container1">
    <div class="header1">
    <app-nav-u></app-nav-u>
    </div>
    <div class="content1">
      <router-outlet></router-outlet>.
    </div>
    <div class="footer1">
      <app-footer></app-footer>
    </div>
  </div>