<!-- <p>header works!</p>-->
<!-- <h1>Flight App</h1>  -->
<div class="headerLink">
    <h1>Flight Booking</h1>
    <a routerLink="register">Register</a>
    <a routerLink="login">Login</a>
    <!-- <a routerLink="dashboard">Dashboard</a>
    <a routerLink="logout">Logout</a>
    <a routerLink="dashboardAdmin">Dashboard Admin</a> -->
    <!-- <a routerLink="displayFlights">Show Flights</a>
    <a routerLink="addFlight">Add Flight</a>
    <a routerLink="searchFlight">Search Flight</a>
    <a routerLink="bookFlight">Book Flight</a> -->    
</div>
<!-- <app-profile></app-profile> -->
