.headerLink{  
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    /* background-color: rgba(117, 190, 218, 0.6);  */
    opacity: 1;
    text-transform: uppercase;
    align-items: center;
}
h1{
    color:indianred;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
    /* margin-top:0.1%; */
}
a:hover{
    background-color:lightcoral;
        opacity: 0.8;
  }
a{
    color: mediumblue;
    font-size: medium;
}