/* h1{
    background-color: aqua;
    text-align: center;
    color:black;
} */
.headerLink{  
    display: flex;
    flex-direction:row;
    align-items:flex;
    justify-content: space-around;
    background-color: rgba(117, 190, 218, 0.6); 
    width:100%;
    height:40px;
    border-radius: 5px;

    opacity: 1;
    margin:auto;
    text-transform: uppercase;
}
.header{
    width:200px;
    text-transform: uppercase;
    display: flex;
    justify-content:space-between;
}
h1{
    color:brown;
    text-transform: uppercase;
}
a:hover{
    background-color:lightcoral;
        opacity: 0.8;
  }
/* a{
    height:45px;
    width:100px;
    background-color: burlywood;
    text-align: center;
    justify-content: center;
    border:black 4px solid;
    border: 4px;
} */
a{
    color: mediumblue;
}