<app-nav-u></app-nav-u>
<div class="bookingForm">
    <form #bookForm="ngForm" (ngSubmit)="bookingDetails(bookForm)">
      <div class="container1"><p>Booking</p></div>
      <div class="container1">
      <input
        type="text"
        class="form-control"
        id="exampleInputPassenger"
        placeholder="Please Enter Passenger Name"
        name="bookingPassengerName"
        [(ngModel)]="bookTicket.bookingPassengerName"
        #bookingPassengerName="ngModel"
        required
      />
    </div>
    <div *ngIf="bookingPassengerName.invalid && (bookingPassengerName.dirty || bookingPassengerName.touched)"
    class="alert">
  <div class="errorInvalid" *ngIf="bookingPassengerName.errors?.['required']">
    Passenger Name is required.
  </div></div>
   
  <div class="container1">
      <input
        type="string"
        name="mobile"
        class="form-control"
        id="exampleInputMobile"
        placeholder="Please Enter Mobile No."
        [(ngModel)]="bookTicket.mobile"
        #mobile="ngModel"
        required
      />
    </div>
    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
    class="alert">
  <div class="errorInvalid" *ngIf="mobile.errors?.['required']">
    Mobile no. is required.
  </div></div>
  <div class="container1">
      <input
        type="text"
        name="source"
        class="form-control"
        id="exampleInputSource"
        placeholder="Please Enter Source"
        [(ngModel)]="bookTicket.source"
        #source="ngModel"
        required
      />
    </div>
    <div *ngIf="source.invalid && (source.dirty || source.touched)"
    class="alert">
  <div class="errorInvalid" *ngIf="source.errors?.['required']">
    Source is required.
  </div></div>
  <div class="container1">
      <input
        type="text"
        name="destination"
        class="form-control"
        id="exampleInputDestination"
        placeholder="Please Enter Destination"
        [(ngModel)]="bookTicket.destination"
        #destination="ngModel"
        required
      />
    </div>
    <div *ngIf="destination.invalid && (destination.dirty || destination.touched)"
    class="alert">
  <div class="errorInvalid" *ngIf="destination.errors?.['required']">
    Destination is required.
  </div></div>
  <!-- <div class="container1">
      <input
        type="text"
        name="airline"
        class="form-control"
        id="exampleInputAirline"
        placeholder="Please Enter airline"
        [(ngModel)]="bookTicket.airline"
        #airline="ngModel"
        required
      />
    </div>
    <div *ngIf="airline.invalid && (airline.dirty || airline.touched)"
    class="alert">
  <div class="errorInvalid" *ngIf="airline.errors?.['required']">
    Airline Name is required.
  </div></div> -->
  <div class="container1">
      <input
        type="datetime"
        name="dateOfJourney"
        class="form-control"
        id="exampleInputDateOfJourney"
        placeholder="Enter Date Of Journey"
        [(ngModel)]="bookTicket.dateOfJourney"
        #dateOfJourney="ngModel"
        required
      />
    </div>
    <div *ngIf="dateOfJourney.invalid && (dateOfJourney.dirty || dateOfJourney.touched)"
    class="alert">
  <div class="errorInvalid" *ngIf="dateOfJourney.errors?.['required']">
    Journey Date is required.
  </div></div>
  <div class="container1">
        <input
          type="email"
          name="emailID"
          class="form-control"
          id="exampleInputEmailID"
          placeholder="Please Enter emailID"
          [(ngModel)]="bookTicket.emailID"
          #emailID="ngModel"
          required
        />
      </div>
      <div *ngIf="emailID.invalid && (emailID.dirty || emailID.touched)"
    class="alert">
  <div class="errorInvalid" *ngIf="emailID.errors?.['required']">
    EmailID is required.
  </div></div>
    <div class="container1">
      <button type="submit" class="btn btn-primary" id='btn-register' [disabled]="!bookForm.valid">Book</button>
    </div>
    
  </form>
</div>


