<app-nav-u></app-nav-u>
<div class="bookingForm">
    <!-- bookingPNR?:string;
    bookingPassengerName?:string;
    mobile?:string;
    source?:string;
    destination?:string;
    airline?:string;
    dateOfJourney?:Date;
    emailID?:string;
    ticketStatus?:string; -->
    
  <form #bookForm="ngForm" (ngSubmit)="bookingDetails(bookForm)">
    <div class="form-group row">
      <label for="exampleInputPassenger" class="col-sm-2 col-form-label">Passenger Name</label>
      <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="exampleInputPassenger"
        placeholder="Please Enter Passenger Name"
        name="bookingPassengerName"
        [(ngModel)]="bookTicket.bookingPassengerName"
      />
    </div>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <br />
    <div class="form-group row">
      <label for="exampleInputMobile" class="col-sm-2 col-form-label">Mobile no.</label>
      <div class="col-sm-10">
      <input
        type="string"
        name="mobile"
        class="form-control"
        id="exampleInputMobile"
        placeholder="Please Enter Mobile No."
        [(ngModel)]="bookTicket.mobile"
      />
    </div>
    </div>
    <br />
    <div class="form-group row">
      <label for="exampleInputSource" class="col-sm-2 col-form-label">Source</label>
      <div class="col-sm-10">
      <input
        type="text"
        name="source"
        class="form-control"
        id="exampleInputSource"
        placeholder="Please Enter Source"
        [(ngModel)]="bookTicket.source"
      />
    </div>
    </div>
    <br />
    <div class="form-group row">
      <label for="exampleInputDestination" class="col-sm-2 col-form-label">Destination</label>
      <div class="col-sm-10">
      <input
        type="text"
        name="destination"
        class="form-control"
        id="exampleInputDestination"
        placeholder="Please Enter Destination"
        [(ngModel)]="bookTicket.destination"
      />
    </div>
    </div>
    <br />
    <div class="form-group row">
      <label for="exampleInputAirline" class="col-sm-2 col-form-label">Airline</label>
      <div class="col-sm-10">
      <input
        type="text"
        name="airline"
        class="form-control"
        id="exampleInputAirline"
        placeholder="Please Enter airline"
        [(ngModel)]="bookTicket.airline"
      />
    </div>
    </div>
    <br />
    <div class="form-group row">
      <label for="exampleInputDateOfJourney" class="col-sm-2 col-form-label">Date Of Journey</label>
      <div class="col-sm-10">
      <input
        type="datetime"
        name="dateOfJourney"
        class="form-control"
        id="exampleInputDateOfJourney"
        placeholder="Enter Date Of Journey"
        [(ngModel)]="bookTicket.dateOfJourney"
      />
    </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="exampleInputEmailID" class="col-sm-2 col-form-label">emailID</label>
        <div class="col-sm-10">
        <input
          type="email"
          name="emailID"
          class="form-control"
          id="exampleInputEmailID"
          placeholder="Please Enter emailID"
          [(ngModel)]="bookTicket.emailID"
        />
      </div>
    </div>
      <!-- <div class="form-group">
        <label for="exampleInputAddress">ticketStatus</label>
        <input
          type="text"
          name="address"
          class="form-control"
          id="exampleInputAddress"
          placeholder="Please Enter Address"
          [(ngModel)]="bookTicket.ticketStatus"
        />
      </div> -->
      <br />
    <div class="button1">
      <button type="submit" class="btn btn-primary" id='btn-register'>Book</button>
      <!-- <a routerLink="/bookFlight">Click here to Book Another Ticket</a> -->
    </div>
    <br> 
  </form>
</div>


