p{text-align: center;
    color: crimson;
}

/* .card-flight{
    border:grey solid 2px;
    color:lemonchiffon;
    background-color: indianred; 
    margin: 2px;
    height:100px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(199, 189, 189);
} */
/* .cards-layout{
    display:inline-flex;
    flex-direction: row;
    margin-left: 250px;  
    color:brown;
} */