/* .home{
height:400px;
width:80%;
align-items: center;
justify-content: space-around;
margin:100px;
 background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png"); 
image-rendering: auto;
background-repeat: no-repeat;
} */

h1{
    text-align: center;
    text-transform: uppercase;
}