<p>flights works!</p>
<div *ngFor="let flight of flights" class="cards-layout">
    <div class="card-flight">
        <h1>{{flight.name}}</h1>

        <h1>{{flight.price}} </h1>
    </div>

</div>

<mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
        <mat-panel-title class="title">
            Add Flight Details
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
        <mat-label class="title">Flight name</mat-label>
        <input matInput [(ngModel)]="flightObj.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label class="title">Flight Price</mat-label>
        <input matInput [(ngModel)]="flightObj.price">
    </mat-form-field>
    <button (click)="addFlight()">Add</button>
</mat-expansion-panel>