.cards-layout{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.card-img-top {
    width: 100%;
    height: 6vw;
    object-fit: cover;
}
p{text-align: center;
    color: crimson;
}
.card{
       border-radius: 5px; 
}
.card:hover{
    background-color: rgb(196, 114, 114)}

