<app-admin-nav></app-admin-nav>
<app-profile></app-profile>
<p>{{customExMessage}}</p>
<div class="cards-layout">
  <div class="card mb-3" style="width: 20rem;" *ngFor="let booking of book">
    <img class="card-img-top" src="https://www.travelopro.com/public/images/contact/banner-7.png" alt="BookingAdmin">
    <div class="card-body">
      <h5 class="card-title"><b>PNR:- </b>{{ booking.bookingPNR }}</h5>
      <h5 class="card-title"><b>PassengerName:- </b>{{ booking.bookingPassengerName}}</h5>
      <h5 class="card-title"><b>Mobile No.:- </b> {{ booking.mobile }}</h5>
      <h5 class="card-title"><b>Airline:- </b>{{ booking.airline }}</h5>
      <h5 class="card-title"><b>Flight Code:- </b>{{booking.airlineCode}}</h5>
      <h5 class="card-title"><b>Source:- </b> {{ booking.source }}</h5>
      <h5 class="card-title"><b>Destination:-</b> {{ booking.destination }}</h5>
      <h5 class="card-title"><b>Date Of Journey:- </b>{{ booking.dateOfJourney }}</h5>
      <h5 class="card-title"><b>Date Of Booking:- </b>{{ booking.bookingDate }}</h5>
      <h5 class="card-title"><b>Email ID:- </b>{{ booking.emailID }}</h5>
      <h5 class="card-title"><b>Ticket Status:- </b> {{ booking.ticketStatus }}</h5>
    </div>
  </div>
  </div>



<!-- <table class="table">
    <thead class="thead-dark">
      <tr>
        <!-- <th scope="col">#</th> 
        <th scope="col">PNR</th>
        <th scope="col">PassengerName</th>
        <th scope="col">Mobile</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Airline</th>
        <th scope="col">Date Of Journey</th>
        <th scope="col">Date Of Booking</th>
        <th scope="col">Email ID</th>
        <th scope="col">Ticket Status</th>
        <!-- <th scope="col">Unblock</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of book">
        <td>{{ booking.bookingPNR }}</td>
        <td>{{ booking.bookingPassengerName }}</td>
        <td>{{ booking.mobile }}</td>
        <td>{{ booking.source }}</td>
        <td>{{ booking.destination }}</td>
        <td>{{ booking.airline }}</td>
        <td>{{ booking.dateOfJourney }}</td>
        <td>{{ booking.bookingDate }}</td>
        <td>{{ booking.emailID }}</td>
        <td>{{ booking.ticketStatus }}</td>
      </tr>
    </tbody>
  </table> -->
