<ul id="navUser" class="nav">
  <li class="nav-item">
    <a class="nav-link disabled" id="item"><app-profile></app-profile> to Flight Booking!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/searchUser">Search Flights</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/pnrDetails">PNR Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/history">Booking History/Cancel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logout">Logout</a>
    </li>
  </ul>
  
