<ul id="navUser" class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/bookFlight">Book Ticket</a>
  </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/pnrDetails">PNR Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/history">Booking History/Cancel</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/cancel">Cancel Ticket</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/logout">Logout</a>
    </li>
  </ul>
  <!-- <h1><button (click)="detailsByPNR()">Check PNR</button></h1>
  <h1><button (click)="detailsByEmail()">Booking History</button></h1>
  <h1><button (click)="cancelByPNR()">Cancel Ticket</button></h1>
  <a routerLink="/logout">Logout</a> -->
